# gitignore for dotfiles bare repo

# Ignore personal directories
dev/
practicum/
tutor/
.cln/
.ssh/

# Ignore external program directories
exercism/
snap/
.cache/
.config/configstore
.config/micro/buffers
.pyenv/
.python_history
.vscode-server.
